{% extends 'base.html' %}
{% block content %}

 <div class="container">
        {% if homeworks %}
            <div class="header">
                <h1>Homeworks Uploaded: {{ homeworks.count }}</h1>
            </div>

            <div class="dashboard-list">
                {% for homework in homeworks %}
                    <div class="dashboard-card">
                        <div class="dashboard-card-header">
                            <p class="dashboard-title">{{ homework.title }}</p>
                            {% if homework.is_graded %}
                                <p class="homework-status status-graded">Graded</p>
                            {% else %}
                                <p class="homework-status status-pending">Pending</p>
                            {% endif %}
                        </div>

                        <div class="dashboard-card-actions">
                            <a href="{% url 'homework-details' homework.pk %}" class="details-link">View Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-homework">
                <h1>No homeworks uploaded yet</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}



