body {
    background-image: url('https://clipart-library.com/img/787208.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
    color: #333;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #444;
    text-align: center;
    text-shadow:
        1px 1px 0px #fff,
        -1px -1px 0px #fff,
        1px -1px 0px #fff,
        -1px 1px 0px #fff;
    margin-top: 7px;
}