{% extends 'base.html' %}
{% block content %}
<div class="homework-details-container">
    <header class="homework-header">
        <h1>Homework Details</h1>
    </header>

    <div class="homework-details-layout">
        <section class="homework-info">
            <div class="homework-info-item">
                <p><strong class="label">Title:</strong> <span class="homework-text">{{ homework.title }}</span></p>
            </div>
            
            {% if homework.description %}
                <div class="homework-info-item">
                    <p><strong class="label">Description:</strong> <span class="homework-text">{{ homework.description }}</span></p>
                </div>
            {% endif %}
            
            {% if request.user.teacher_profile %}
                <div class="homework-info-item">
                    <p><strong class="label">Uploaded By:</strong> <span class="homework-text">{{ homework.student.user.username }}</span></p>
                </div>
            {% endif %}
        </section>
    
        <aside class="homework-meta">
            <div class="homework-meta-item">
                <p><strong class="label">Grade:</strong> <span class="homework-text">{% if homework.grade %}{{ homework.grade }}{% else %}None{% endif %}</span></p>
            </div>
            <div class="homework-meta-item">
                <p><strong class="label">Uploaded At:</strong> <span class="homework-text">{{ homework.uploaded_at|date:"d-m-Y H:i" }}</span></p>
            </div>
        </aside>
    </div>

    {% if homework.image %}
    <section class="homework-image">
        <img src="{{ homework.image.url }}" alt="Homework Image" />
    </section>
    {% endif %}

    <section class="homework-actions">
        {% if perms.homeworks.change_homework %}
            <a href="{% url 'homework-edit' homework.pk %}" class="btn btn-edit">Edit</a>
        {% endif %}
        {% if perms.homeworks.delete_homework %}
            <a href="{% url 'homework-delete' homework.pk %}" class="btn btn-delete">Delete</a>
        {% endif %}
        {% if perms.homeworks.can_grade_homeworks %}
            <a href="{% url 'homework-grade' homework.pk %}" class="btn btn-grade">Grade</a>
        {% endif %}
    
    </section>
    <h2>Comments</h2>
        <div>
            {% if homework.comment_set.all %}
                {% for comment in homework.comment_set.all %}
                    <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>

    {% if request.user.role == 'teacher' %}
        <h2>Add a Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            
            <button type="submit">Submit</button>
        </form>
    {% endif %}

</div>
{% endblock %}
