{% extends 'base.html' %}
{% block content %}
    <h1>Homework details</h1>
    <p>Homework title: {{ homework.title }}</p>
    
    {% if homework.description %}
            <p>Homework description: {{ homework.description }}</p>
    {% endif %}
    <p>Grade: {{ homework.grade }}</p>
    <p>{{ homework.uploaded_at }}</p>
    {% if request.user.teacher_profile %}
    <p>Uploaded by '{{ homework.student.user.username }}'</p>
    {% endif %}
    <p><img src="{{ homework.image.url }}" alt="image"/></p>
    {% if perms.homeworks.change_homework %}
        <a href="{% url 'homework-edit' homework.pk %}">Edit</a>
    {% endif %}
    {% if perms.homeworks.delete_homework %}
        <a href="{% url 'homework-delete' homework.pk %}">Delete</a>
    {% endif %}
    {% if perms.homeworks.can_grade_homeworks %}
    <a href="{% url 'homework-grade' homework.pk %}">Grade</a>
    {% endif %}
{% endblock %}